html,
body {
    background-color: #E5E5E5;
}
.font-link {
    font-family: 'Roboto Slab', serif;
}
.title{
    position: absolute;
    width: 421px;
    height: 83px;
    left: 0px;
    top: 68px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #2B3467;
}